*{
   padding:0px;
   margin:0px;
 }
.Box {
   padding:0px;
   margin:0px;
   width: 100%;
   height: 100vh;
   background-position: center;
   background-size: cover;
   background-image: url(website/ezgif.com-webp-to-jpg.jpg);
   }
.Box_overlay{
   padding:0px;
   margin:0px;
   width: 100%;
   height: 100vh;
   background-color: rgba(255, 255, 255, 0.6);
   display: flex;
   justify-content: center;
  /* align-items: center;*/
   color: black;
   letter-spacing: 5px;  
}
.small_box{
   margin:100px;
   width:70%;
}
